@use "@/styles/_variables.scss" as *;

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 12px 8px 12px 24px;
  width: 100%;
  top: 0;
  z-index: 10;
  background: var(--color-slate-white, #fff);
  // border: $border;

  &-logo {
    @include flex-column(2px);
    text-decoration: none;
    color: rgba(26, 26, 26, 0.8);
    font-family: Ultra;
    font-weight: 400;
    line-height: 100%;

    p {
      font-size: 8px;
      letter-spacing: 0.08px;
    }
    p + p {
      font-size: 14px;
      letter-spacing: 0.14px;
    }
  }

  &-action-btns {
    padding: 8px 16px;

    button {
      text-decoration: none;
      color: #1a1a1a;
      font-family: "Work Sans";
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.16px;
      background: transparent;
      cursor: pointer;
      border: none;
    }
  }

  @media (min-width: $portrait) {
    padding: 16px 48px;
    // border: $border;

    &-logo {
      @include flex-column(4px);
      font-weight: 400;
      line-height: 100%;

      p {
        font-size: 12px;
        letter-spacing: 0.12px;
      }
      p + p {
        font-size: 16px;
        letter-spacing: 0.16px;
      }
    }

    &-action-btns {
      padding: 12px 16px;
    }
  }
}
