@use "@/styles/_variables.scss" as *;

.challenger-edit-form_container {
  @include flex-column;
  gap: 32px;
  width: 100%;
  overscroll-behavior: contain;
  // outline: $border;

  .challenger-edit-form {
    @include flex-column;
    border-radius: 12px;
    background: var(--color-slate-white, #fff);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);

    &_header {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 16px;
      padding-bottom: 8px;

      button {
        font-size: 36px;
      }

      .emoji-popover-absolute {
        position: absolute;
        top: 110%;
        left: 0;
        z-index: 10;
        background: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        border-radius: 8px;
      }

      .challenger-edit-form_close-button {
        display: flex;
        padding: 8px;
        background: transparent;
        border: none;
        cursor: pointer;
        // outline: $violet;
        img {
          height: 24px;
          width: 24px;
        }
      }
    }

    &_body {
      @include flex-column(16px);
      padding: 16px;

      .input-wrapper {
        position: relative;

        .blinking-caret {
          animation: blink 1.2s ease-in-out infinite;
          position: absolute;
          top: 50%;
          left: 0px;
          transform: translateY(-50%);
          // margin-left: 12px;
          width: 2px;
          height: 24px;
          background-color: black;
          border: var(--color-slate-900, #0f172a), 1.5px solid;
        }
        input {
          width: 100%;
          background: transparent;
          outline-color: transparent;
          padding: 12px;
          color: var(--text-primary, #0f172a);
          font-size: 20px;
          font-weight: 600;
          line-height: 28px;
          border: none;

          &:focus {
            outline: transparent;
          }

          &::placeholder {
            color: rgba(26, 26, 26, 0.6);
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            // text-indent: 8px;
          }
        }

        &:has(input[value=""]) input {
          caret-color: transparent;
        }
      }
    }
    
    &_footer {
      padding: 12px 16px;
      // outline: $lime;

      button {
        display: flex;
        justify-content: center;
        gap: 12px;
        width: 100%;
        padding: 12px 24px;
        background: #1a1a1a;
        box-shadow: 0px 1px 2px 0px rgba(26, 26, 26, 0.08);
        color: var(--color-50, #fafafa);
        cursor: pointer;
        border-radius: 8px;
        border: none;
        transition: background 0.3s ease;

        p {
          font-weight: 600;
          line-height: 24px; /* 150% */
          font-family: "Work Sans";
          letter-spacing: 0.16px;
        }

        img {
          width: 24px;
          height: 24px;
        }

        &:disabled {
          background: rgba(26, 26, 26, 0.15);
          cursor: not-allowed;
        }
      }
    }
  }

  @media (min-width: $portrait) {
    justify-content: center;
    max-width: 532px;
    // outline: $lime;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
