// _variables.scss
$border: 2px solid teal;
$red: 2px solid red;
$lime: 2px solid lime;
$maroon: 2px solid maroon;
$violet: 2px solid #6200ea;
$layering: hsl(0 100% 50% / 0.1); //for background
$portrait: 600px;
$landscape: 1024px;
$desktop: 1200px;
$desktopXL: 1800px;
$divider: 1px solid rgba(26, 26, 26, 0.15);

@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin padding-eights($padding-y: 8px, $padding-x: 16px) {
  padding: $padding-y $padding-x;
}
