@use "@/styles/_variables.scss" as *;

.home_wrapper {
  @include flex-column;
  // border: solid 1px teal;

  .dashboard-header {
    @include flex-column(12px);
    @include padding-eights;

    .dashboard-time {
      display: flex;
      justify-content: space-between;
      color: rgba(26, 26, 26, 0.8);
      font-family: Asap;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.12px;
      text-transform: uppercase;
      // border: $violet;
    }

    .dashboard-user {
      display: flex;
      gap: 24px;
      padding: 12px;
      padding-bottom: 16px;
      background: #f1f5f9;
      border-radius: 8px;
      // border: $violet;

      &_name {
        @include flex-column(4px);
        padding-top: 2px;
        max-width: 200px;
        // border: $violet;

        p {
          color: rgba(26, 26, 26, 0.65);
          font-family: "Work Sans";
          font-size: 12px;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0.12px;
        }

        p + p {
          overflow: hidden;
          color: rgba(26, 26, 26, 0.9);
          text-overflow: ellipsis;
          font-family: Ultra;
          font-size: 24px;
          font-weight: 400;
          line-height: 30px;
        }
      }

      &_streak {
        @include flex-column;
        padding-top: 6px;
        // border: $violet;

        p:nth-child(1) {
          margin-bottom: 2px;
          color: rgba(26, 26, 26, 0.8);
          font-family: Asap;
          font-size: 10px;
          font-weight: 700;
          line-height: 14px;
          letter-spacing: 0.1px;
        }

        p:nth-child(2) {
          margin-bottom: 1px;
          color: rgba(26, 26, 26, 0.9);
          font-family: Ultra;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.18px;
        }

        p:nth-child(3) {
          margin-bottom: 16px;
          color: rgba(26, 26, 26, 0.65);
          font-family: Asap;
          font-size: 10px;
          font-weight: 600;
          line-height: 14px;
          letter-spacing: 0.1px;
        }

        &-cheers {
          @include flex-column(4px);
          color: rgba(26, 26, 26, 0.8);
          font-family: Asap;
          font-size: 10px;
          font-weight: 700;
          line-height: 14px;
          letter-spacing: 0.1px;
          // border: $maroon;

          img {
            width: 58px;
            height: 24px;
          }
        }
      }
    }
  }

  .dashboard-kyurem {
    @include flex-column(24px);
    padding: 28px 16px;
    // border: $border;

    h1 {
      overflow: hidden;
      color: rgba(26, 26, 26, 0.8);
      text-overflow: ellipsis;
      font-family: "Work Sans";
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.16px;
    }

    .dashboard-kyurem_display-example {
      @include flex-column(14.4px);
      // border: $violet;

      &_titles {
        @include flex-column(3.6px);
        padding-left: 3.6px;

        h3 {
          color: rgba(26, 26, 26, 0.9);
          font-family: Asap;
          font-size: 18px;
          font-weight: 700;
          line-height: 25.2px;
        }

        p {
          color: rgba(26, 26, 26, 0.9);
          font-family: Asap;
          font-size: 10.8px;
          font-weight: 400;
          line-height: 14.4px;
          letter-spacing: 0.108px;
        }
      }

      &_cards {
        @include flex-column(3.6px);
        // border: $border;

        .divider {
          height: 1px;
          background: rgba(26, 26, 26, 0.15);
        }

        &-card {
          display: flex;
          align-items: center;
          padding: 3.6px 0 7.2px 7.2px;

          span {
            height: 18px;
            width: 18px;
            margin-right: 7.2px;
          }

          &-text {
            @include flex-column(1.8px);
            padding: 3.6px 10.8px 3.6px 0px;

            p {
              overflow: hidden;
              color: #1a1a1a;
              text-overflow: ellipsis;
              font-family: "Work Sans";
              font-size: 12.6px;
              font-weight: 700;
              line-height: 18px;
              letter-spacing: 0.126px;
            }

            p + p {
              color: rgba(26, 26, 26, 0.8);
              font-family: Asap;
              font-size: 9px;
              font-weight: 400;
              line-height: 10.8px;
              letter-spacing: 0.09px;
            }
          }

          &-status {
            display: flex;
            padding-top: 3.6px;
            margin-left: auto;
            // border: $maroon;

            &-done {
              display: flex;
              align-items: center;
              gap: 2.7px;
              padding: 1.8px 1.8px 7.2px 1.8px;
              color: #1a1a1a;
              font-size: 10.8px;
              font-weight: 600;
              line-height: 14.4px;
              letter-spacing: -0.216px;

              img {
                height: 18px;
                width: 18px;
                margin: 1.8px;
              }
            }

            div + img {
              width: 16.2px;
              height: 16.2px;
              margin: 4.5px;
            }
          }
        }
      }
    }
  }

  .dashboard-kyurem_cta {
    @include flex-column(12px);
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 24px;
    padding-top: 12px;
    // border: $border;

    h2 {
      color: rgba(26, 26, 26, 0.9);
      font-family: "Work Sans";
      font-size: 14px;
      font-weight: 700;
      line-height: 18px; 
      letter-spacing: 0.14px;
    }

    //.Button Component
  }
}
