@use "@/styles/_variables.scss" as *;

.home_wrapper {
  @include flex-column;
  // border: solid 1px teal;

  .dashboard-header {
    @include flex-column(12px);
    @include padding-eights;
    // border: $border;

    .dashboard-time {
      display: flex;
      justify-content: space-between;
      color: rgba(26, 26, 26, 0.8);
      font-family: Asap;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.12px;
      text-transform: uppercase;
      // border: $violet;
    }

    .dashboard-user {
      display: flex;
      justify-content: space-between;
      gap: 24px;
      padding: 12px;
      padding-bottom: 16px;
      background: #f1f5f9;
      border-radius: 8px;
      // border: $violet;

      &_name {
        @include flex-column(4px);
        padding-top: 2px;
        max-width: 200px;
        // border: $violet;

        p {
          color: rgba(26, 26, 26, 0.65);
          font-family: "Work Sans";
          font-size: 12px;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0.12px;
        }

        p + p {
          overflow: hidden;
          color: rgba(26, 26, 26, 0.9);
          text-overflow: ellipsis;
          font-family: Ultra;
          font-size: 24px;
          font-weight: 400;
          line-height: 30px;
        }
      }

      &_streak {
        @include flex-column;
        padding-top: 6px;
        width: 112px;
        width: 33%;
        // border: $violet;

        p:nth-child(1) {
          margin-bottom: 2px;
          color: rgba(26, 26, 26, 0.8);
          font-family: Asap;
          font-size: 10px;
          font-weight: 700;
          line-height: 14px;
          letter-spacing: 0.1px;
        }

        p:nth-child(2) {
          margin-bottom: 1px;
          color: rgba(26, 26, 26, 0.9);
          font-family: Ultra;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.18px;
        }

        p:nth-child(3) {
          margin-bottom: 16px;
          color: rgba(26, 26, 26, 0.65);
          font-family: Asap;
          font-size: 10px;
          font-weight: 600;
          line-height: 14px;
          letter-spacing: 0.1px;
        }

        &-cheers {
          @include flex-column(4px);
          color: rgba(26, 26, 26, 0.8);
          font-family: Asap;
          font-size: 10px;
          font-weight: 700;
          line-height: 14px;
          letter-spacing: 0.1px;
          // border: $maroon;

          img {
            width: 58px;
            height: 24px;
          }
        }
      }
    }
  }

  .dashboard_challenges-display {
    @include flex-column(16px);
    padding: 16px;
    padding-bottom: 60px;
    // border: $border;

    &_header {
      @include flex-column(4px);
      color: rgba(26, 26, 26, 0.9);
      font-family: Asap;

      h2 {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
      }

      h3 {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.12px;
      }
    }

    &_new-cta {
      padding: 40px 16px 24px;
      text-align: center;

      p {
        color: rgba(26, 26, 26, 0.8);
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.14px;
      }
      button {
        margin-top: 20px;
      }
    }

    &_cards-container {
      @include flex-column;
      // border: $violet;

      &_new-challenge-card {
        display: flex;
        padding: 16px 12px 16px 9px;
        gap: 9px;
        color: rgba(26, 26, 26, 0.8);
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.14px;
      }
    }
  }

  .dashboard-kyurem_cta {
    @include flex-column(12px);
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 24px;
    padding-top: 12px;
    // border: $border;

    h2 {
      color: rgba(26, 26, 26, 0.9);
      font-family: "Work Sans";
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0.14px;
    }

    //.Button Component
  }

  .dashboard_cta-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 8px;
    padding: 12px 16px;
    background: #fff;
    // border: $border;

    button {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 12px;

      p {
        color: #1a1a1a;
        font-family: "Work Sans";
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.24px;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        min-width: 20px;
        padding: 2px 6.25px 2px 7.25px;
        color: #fafafa;
        font-family: "Work Sans";
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.24px;
        border-radius: 50%;
        border-radius: 10px;
        background: #1a1a1a;
      }
    }
  }
}
