@use "@/styles/_variables.scss" as *;

.under-construction {
  @include flex-column(40px);
  min-height: 100svh;
  padding: 104px 24px 0;
  // border: $border;

  &-text {
    color: rgba(26, 26, 26, 0.8);
    h1 {
      font-family: "Work Sans";
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.16px;
      margin-bottom: 4px;
      color: rgba(26, 26, 26, 0.8);
    }
    p {
      color: rgba(26, 26, 26, 0.9);
      font-family: Ultra;
      font-size: 32px;
      line-height: 44px; /* 137.5% */
      margin-bottom: 20px;
      max-width: 342px;
    }

    p + p {
      font-family: Asap;
      font-size: 14px;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.14px;
      margin-bottom: 0;
    }
  }

  img {
    width: 100%;
    margin: 0 auto;
    min-height: 0;
    // max-width: 400px;
  }

  &-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    padding-top: 12px;
    background: #fff;
    // border: $border;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      padding: 12px 24px;
      width: 100%;
      border-radius: 8px;
      background: #1a1a1a;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);

      img {
        width: 24px;
        height: 24px;
        margin: 0;
      }

      p {
        color: #fafafa;
        font-family: "Work Sans";
        font-size: 16px;
        letter-spacing: 0.16px;
        font-weight: 600;
      }
    }
  }

  @media (min-width: $portrait) {
    min-height: 100svh;
    gap: 48px;
    padding: 104px 48px 64px;
    // border: $border;

    &-text {
      @include flex-column();
      align-items: center;
      text-align: center;
      // outline: $border;

      h1 {
        font-size: 20px;
        letter-spacing: 0.2px;
        margin-bottom: 16px;
      }
      p {
        font-size: 48px;
        line-height: 64px; /* 137.5% */
        margin-bottom: 32px;
        max-width: 516px;
      }

      p + p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.16px;
      }
    }

    img {
      width: 100%;
      margin: 0 auto;
      max-width: 50%;
    }

    &-footer {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0;
      padding-top: 0;
      margin-top: auto;
      // border: $border;

      button {
        max-width: calc(50% + 48px);
        padding: 20px 24px;

        img {
        }

        p {
          font-size: 18px;
          letter-spacing: 0.18px;
        }
      }
    }
  }
  @media (min-width: $desktop) {
    padding: 112px 48px 64px;
    // border: $border;

    &-text {
      // outline: $border;

      h1 {
        line-height: 28px; /* 140% */
        letter-spacing: 0.2px;
        margin-bottom: 16px;
      }
      p {
        max-width: 782px;
      }
    }

    img {
      max-width: 304px;
    }

    &-footer {
      // border: $border;

      button {
        max-width: calc(50% + 48px);
        padding: 20px 24px;
      }
    }
  }
}
