@use "@/styles/_variables.scss" as *;

.public-filled-container {
  @include flex-column;
  min-height: 100svh;
  padding: 88px 24px 0;
  // border: $border;

  .public-filled-hero {
    @include flex-column(24px);
    // outline: $border;

    &-text {
      @include flex-column(4px);

      h2 {
        color: rgba(26, 26, 26, 0.8);
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.16px;
      }
      p {
        color: rgba(26, 26, 26, 0.9);
        font-family: "Ultra";
        font-size: 40px;
        font-weight: 400;
        line-height: 56px;
      }
    }
  }
  .public-filled-timer {
    @include flex-column(4px);
    padding: 20px 16px 16px 16px;
    margin-top: auto;
    margin-bottom: 40px;
    border-radius: 8px;
    background: #f1f5f9;
    // outline: $border;

    p {
      font-family: "Work Sans";

      font-weight: 700;
      color: rgba(26, 26, 26, 0.6);
      line-height: 24px;
      letter-spacing: 0.16px;
    }

    p + p {
      color: rgba(26, 26, 26, 0.8);
      font-family: "Ultra";
      font-size: 40px;
      line-height: 56px;
      letter-spacing: 2px;
      color: rgba(26, 26, 26, 0.8);
      font-weight: 400;
    }
  }
  .public-filled-footer {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    margin: 12px 0 24px;
    // border: $border;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      width: 100%;
      padding: 16px 24px;
      border-radius: 8px;
      background: #1a1a1a;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
      cursor: pointer;

      img {
        width: 24px;
        height: 24px;
      }

      p {
        color: var(--color-50, #fafafa);
        font-feature-settings: "liga" off, "clig" off;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        letter-spacing: 0.16px;
      }

      &:disabled {
        pointer-events: none;
      }
    }

    .public-challenge-create-challenge-btn-mobile {
      padding: 12px 16px;
      background: transparent;
      box-shadow: none;
      transition: box-shadow 0.3s ease;
      font-weight: 600;
      letter-spacing: 0.16px;

      &:hover {
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
      }
    }

    .public-challenge-complete-btn {
      position: relative;
      z-index: 0;
      transition: all 0.5s;
      overflow: clip;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -10;
        transform: translateX(-200%) translateY(0%) scale(2.5);
        border-radius: 40%;
        background-color: #03781f;
        transition: transform 0.4s;
      }

      &.ripple-active::before {
        transform: translateX(0%) translateY(0%) scale(2.5);
      }
    }

    .public-challenge-action-menu-wrapper {
      position: relative;

      button {
        width: auto;
        padding: 16px;
        background: transparent;
        box-shadow: none;
        transition: background 0.4s ease;
        border: none;
        // border: $border;

        img {
          min-width: 24px;
          height: 24px;
        }
      }

      .bg-active-grey {
        background: rgba(26, 26, 26, 0.08);
      }

      &[aria-expanded="true"] .public-challenge-action-menu {
        height: auto;
        visibility: visible;
      }

      .public-challenge-action-menu {
        position: absolute;
        bottom: 100%;
        margin-bottom: 20px;
        right: 0;
        width: 224px;
        background: var(--color-slate-white, #fff);
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
        border-radius: 6px;
        border: 1px solid var(--slate-100, #f1f5f9);
        //Height Animation
        height: 0;
        overflow: clip;
        visibility: hidden;
        transition: height 0.5s ease, visibility 2s;
        // border: $border;

        ul {
          @include flex-column;
          align-items: flex-start;
          font-family: Inter;
          //err I don't think we need to use var(--font-inter) here
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;

          img {
            width: 16px;
            height: 16px;
          }

          li {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 11px 13px;
            width: 100%;
            transition: background 0.4s ease;
            cursor: pointer;
            color: var(--slate-700, #334155);
            font-family: "Inter";
            font-size: 14px;
            font-weight: 500;
            line-height: 20px; /* 142.857% */

            p {
              color: var(--slate-700, #334155);
            }

            &:hover {
              background: rgba(26, 26, 26, 0.08);
            }
          }
        }
      }
    }

    .public-challenge-action-btns {
      display: none;
    }
  }

  @media (min-width: $portrait) {
    align-items: center;
    padding: 112px 48px 64px;
    gap: 48px;
    // border: $border;

    .public-filled-hero {
      align-items: center;
      gap: 40px;
      // outline: $border;

      &-text {
        align-items: center;
        gap: 16px;
        // outline: $border;

        h2 {
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0.24px;
        }

        p {
          text-align: center;
          font-size: 64px;
          line-height: 80px;
        }
      }
    }
    .public-filled-timer {
      width: 378px;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;
      // outline: $border;
    }

    .public-filled-footer {
      flex-direction: column;
      margin: auto 0 0;
      width: 426px;
      // border: $border;

      button {
        padding: 20px 24px;

        p {
          font-size: 18px;
          letter-spacing: 0.18px;
        }
      }

      .public-challenge-create-challenge-btn-mobile {
        display: none;
      }

      .public-challenge-action-menu-wrapper {
        display: none;
      }

      .public-challenge-action-btns {
        display: flex;
        gap: 12px;

        button {
          background: transparent;
          box-shadow: none;
          transition: box-shadow 0.3s ease;
          cursor: pointer;
          border: none;

          img {
            width: 24px;
            height: 24px;
          }

          p {
            color: rgba(26, 26, 26, 0.8);
          }

          &:hover {
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }
  }
}

/* --------------------- Delete Public Challenger Modal --------------------- */

.delete-pc-modal {
  @include flex-column;
  padding: 24px 24px 16px 24px;
  background: var(--color-slate-white, #fff);
  border-radius: 6px;
  border: 1px solid #cbd5e1;

  h1 {
    color: #0f172a;
    font-family: "Work Sans";
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
  }

  &-body {
    margin-bottom: 24px;
    p {
      color: rgba(26, 26, 26, 0.65);
      font-family: Asap;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.14px;

      span {
        color: rgba(26, 26, 26, 0.8);
        font-weight: 600;
      }

      a {
        color: #64748b;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.14px;
        text-decoration-line: underline;
      }
    }
  }
  &-footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;

    button {
      padding: 12px 16px;
      color: rgba(26, 26, 26, 0.8);
      font-family: "Work Sans";
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.16px;
      background: none;
      cursor: pointer;
      border: none;
    }
    button + button {
      color: var(--color-50, #fafafa);
      font-weight: 600;
      letter-spacing: 0.16px;
      background: #1a1a1a;
      box-shadow: 0px 1px 2px 0px rgba(26, 26, 26, 0.08);
      border-radius: 8px;
    }
  }

  @media (min-width: $portrait) {
    max-width: 532px;
  }
}

/* --------------------- Expired Public Challenger Modal --------------------- */

.expired-pc-modal {
  @include flex-column;
  gap: 32px;
  width: 100%;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 12px;

  p {
    color: rgba(26, 26, 26, 0.8);
    font-size: 14px;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.14px;
  }

  p:first-of-type {
    font-weight: 700;
    margin-bottom: 8px;
  }

  h2 {
    color: rgba(26, 26, 26, 0.9);
    font-family: Ultra;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 12px;
  }

  p:last-of-type {
    color: rgba(26, 26, 26, 0.8);
    font-family: Asap;
  }

  &-footer {
    button {
      padding: 16px 24px;
      width: 100%;
      background: #1a1a1a;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
      color: #fafafa;
      font-weight: 600;
      letter-spacing: 0.16px;
      border-radius: 8px;
    }
  }

  @media (min-width: $portrait) {
    max-width: 400px;
  }
}
