@use "@/styles/_variables.scss" as *;

.overlay-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100svh;
  width: 100%;
  padding: 40px 24px;
  background: linear-gradient(
    0deg,
    #1a1a1a 0%,
    rgba(26, 26, 26, 0.8) 20%,
    rgba(26, 26, 26, 0.75) 50.36%
  );
  z-index: 100;
}

.overlay-wrapper.flex-align-start {
  align-items: flex-start;
}

.overlay-wrapper.portrait-align-center {
  @media (min-width: $portrait) {
    align-items: center;
  }
}
